@media screen and (max-width:1100px) {
    .navlist,
    .desktop-action .btn {
        display: none;
    }
    .desktop-action .lines {
        display: block;
        cursor: pointer;
        z-index: 1001;
    }
    .mobile-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        height: 100vh;
        background: var(--bg);
        border-right: 3px solid var(--main);
        padding-top: 6rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        transition: all .4s ease;
        z-index: 2000;
        align-items: center;
        box-shadow: 0 0 15px #ffde59;
    }
 .mobile-menu-active {
    left: 0;
}
.mobile-menu a {
    font-size: 1.6rem;
    color: var(--main) !important;
    text-decoration: none;
}
.mobile-menu .btn {
    background: var(--main);
    color: black !important;
    border-radius: 17px;
    padding: 0.8rem 1.4rem;
    font-weight: 400;
    position: relative;
}
.mobile-menu .btn::after {
    content: none !important;
}

}
@media (max-width: 500px) {
    .signup-modal {
        width: 95%;
        padding: 1.5rem;
    }
}
@media screen and (max-width:1100px) {
    .hero-section {
        padding: 2rem 1rem;
        text-align: center;
        justify-content: center;
        background-position: center;
        background-size: cover;
        min-height: 85vh;
        position: relative;
    }

    .hero-section::after {
        height: 55%;
        background: linear-gradient(to top, rgba(0,0,0,0.9), transparent);
    }

    .hero-section .content {
        max-width: 330px;
        width: 100%;
        margin: 0 auto;
    }

    .hero-section h1 {
        font-size: 2.5rem;
        line-height: 2.7rem;
        margin-bottom: .5rem;
    }

    .hero-section p.typing-text {
        font-size: 1.2rem;
        border-right: 2px solid var(--main);
        animation: typing 1.8s steps(30) forwards, blink .6s infinite;
        margin: .8rem auto 0 auto;
    }

    .btn-1 {
        padding: .9rem 1.5rem;
        font-size: 1.1rem;
        margin-top: 1rem;
        display: inline-block;
    }
}
@media screen and (max-width:1000px) {
    .reviews-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:600px) {
    .reviews-section {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
}
@media screen and (max-width:900px) {
    .about-container {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }

    .about-img img {
        width: 280px;
    }
}

@media screen and (max-width:600px) {
    .about-hero h1 {
        font-size: 2.2rem;
    }

    .stats-section {
        flex-direction: column;
        gap: 1.5rem;
    }

    .stat-box h3 {
        font-size: 2.1rem;
    }
}
@media(max-width:850px) {
    .contact {
        flex-direction: column;
        padding: 4rem 6%;
    }

    .contact-left,
    .contact-form {
        width: 100%;
    }

    .contact-text {
        text-align: center;
    }

    .social-links {
        justify-content: center;
    }

    .map-box iframe {
        height: 240px;
    }
}
@media (max-width:900px) {
    .footer-inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.5rem;
    }

    .footer-nav {
        flex-direction: column;
        gap: 1.2rem;
    }

    .footer-column {
        width: 100%;
    }

    .footer-bottom {
        flex-direction: column;
        gap: .4rem;
        text-align: center;
    }
}
